body {
    background-color: #16c310;
    
}

nav {
    background-color: #be1a1a; 
    
}
nav ul {
    list-style: none;
} 

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #be1a1a;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul li {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}